*{
    color: #cacfcf
}

body{
    margin: 0;
    height: 100%;
}
.fondo{
    background-color: #4D727E;
}

.topColor{
    background: #1F4E5F;
    color: #cacfcf;
    font-weight: 700;
}

.textColor{
    color: #cacfcf
}
.full{
    position:relative; /*No sé*/
    width: 100%
}

.homeIcon{
    margin-top: 7px;
}

.shadows{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.luffy{
    width:45%;
    position: inherit;
    border: 2px solid #000
}

.peace{
    width: 18%;
    border: 2px solid #000
}
.luffyT{
    margin-bottom:200%;
}
.space{
    margin-top: 5%;
}

.block{
    width: 85%;
    margin-left : 0
}

.negrita{
    font-weight: 700;
}

.title{
    font-size: 24px;
}
.justificar{
    text-align: justify;
}

.presentacion{
    width:45%;
    background: #6ea4b5;
    position: inherit;
    border: 1px solid #000
   
}